*{
    box-sizing: border-box;

}

body{
    background: linear-gradient(rgb(0, 147, 192) 60%, rgb(255, 255, 255) 40%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 0 auto;
    max-width: 500px;
}

input[type ='color']{
    border: none;
    border-radius: 2px;
    height: 40px;
   
}

a{
    text-decoration: none;
}

.qr-text{
    display: block;
   padding: 10px;
   border: 1px solid black;
   border-radius: 10px ;
   width: 100%;
   margin: 0.5rem 0 0.2rem 0;
   outline: none;
}


#qr-code {

    width: 500px;
    height: 400px;
 
   display: flex;
   align-items: center;
   justify-content: center;
   border: 1px solid black;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.sizes{
    width: 32%;
    height: 40px;
    border: 1px solid black;
    border-radius: 4px;
    outline: none;

}

.btn {
 max-width: 200px;
 padding: 14px;
 border-radius: 20px;
border: none;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
font-size: 10px;
flex: 1;
}

.btn img{

    width: 20px;
    margin-left: 20px;
}

.accion-container{
    display: flex;
    margin-top: 1rem 0;
}


#qr-code img, #qr-code canvas {

    max-width:100% !important;
    max-height: 100% !important;
}

.share-btn{

    margin-left: 0.8rem ;
}


@media(max-width: 512px){


    body{
        max-width: 100%;
        padding: 10px;


    }


    #qr-code {
        width: 95vw;
        height: 95vw;
    }

    #qr-code img, #qr-code canvas {

        max-width: 95vw !important;
        max-height: 95vw !important;
    }

    .btn {

        min-width: unset;
    }
}

@media(max-width:350px){

    .accion-container{

        flex-direction: column;
    }
    .share-btn{
        margin-left: 0;
        margin-top: 0.8rem;
    }
}

